body {
    background-color: aliceblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.title{
    color: #50b3ec;
    font-size: 50px;
    font-weight: 700;
    /* text-align: center; */
    margin-bottom: 20px;
}

#basicinfo{
    margin-bottom: 20px;
}

#basicinfo h2{
    color: #3388b9;
    font-size: 30px;
    font-weight: 700;
    /* text-align: center; */
    margin-bottom: 10px;
}

#basicinfo b{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

#hobby{
    margin-bottom: 20px;
    text-align: center;
}

#hobby h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

#hobby b{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

#code{
    color: rgb(98, 145, 233);
    text-shadow: #f4f4f4 1px 1px 1px;
    background-image: url(../img/code.png);
}

#music{
    color: rgb(255, 140, 0);
    text-shadow: #333 1px 1px 1px;
    background-image: url(../img/music.jpg);
}

#game{
    color: rgb(95, 255, 47);
    text-shadow: #f4f4f4 1px 1px 1px;
    background-image: url(../img/game.jpg);
}

#history{
    margin-bottom: 20px;
    /* text-align: center; */
    /* display: inline; */
}

#history h2{
    color: #00456d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

#history b{
    font-size: 20px;
    font-weight: 400;
}

#skills{
    margin-bottom: 20px;
}

#skills h2{
    color: #00146d;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

#skills h3{
    font-size: 20px;
    font-weight: 400;
}

#HTML:hover{
    color: #ff8a3d;
    text-shadow: #333 1px 1px 1px;
}

#CSS:hover{
    color: #fa5bff;
    text-shadow: #333 1px 1px 1px;
}

#JS:hover{
    color: #fffd77;
    text-shadow: #333 1px 1px 1px;
}


/* 
#python{
    background: linear-gradient(#3f87a6, #0084ff);
}

#python li{
    background-color: rgba(255, 255, 255, 0.5);
}

#MySQL{
    background: linear-gradient(#0084ff, #00972d);
}
*/
#FrontEnd{
    color: #0084ff;
}
/*
#FrontEnd li{
    background-color: rgba(255, 255, 255, 0.5);
}

#CPP{
    background: linear-gradient(#64ff3d, #e4fd56);
}

#Unity{
    background: linear-gradient(#e4fd56, #fffd77);
}

#Kotlin{
    background: linear-gradient(#fffd77, #ffa023);
} */

#qq{
    font-size: 20px;
    user-select: none;
}

#wechat{
    font-size: 20px;
    user-select: none;
}

#email{
    font-size: 20px;
}

#qq:hover{
    color: #0084ff;
}

#qq:active{
    color: #0072b4;
}

#wechat:hover{
    color: #0cc243;
}

#wechat:active{
    color: #076623;
}
/* #index{
    color: #0084ff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
#index h2{
    color: #005bb1;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
} */

a{
    color: #0084ff;
    text-decoration: none;
}
a:visited{
    color: #0084ff;
    text-decoration: none;
}
a:hover{
    color: #00456d;
}

@keyframes clicking {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#manbo{
    display: block;
    width: 40%;
    margin: 0 auto;
}

#manbo:hover{
    cursor: grab;
    transform: scale(1);
}

#manbo:active{
    cursor: grabbing;
    animation: clicking 0.1s;
    animation-iteration-count: 1;
    transform: scale(1);
}