{% extends 'base.html' %}
{% block title %}
    注册
{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h1>注册</h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="signup" method="post" role="form" id="register">
                    <div class="form-group">
                        <label for="username">用户名:</label>
                        <input type="text" name="username" class="form-control" id="username" required>
                    </div>
                    <div class="form-group" id="emailf">
                        <label for="email">邮箱:</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">密码:</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">确认密码:</label>
                        <input type="password" name="password2" class="form-control" id="password2" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="submit" class="btn btn-success btn-block" value="注册">
                        <input type="reset" value="重置" class="btn btn-danger btn-block">
                        <br>
                        <a href="login" class="btn btn-primary btn-block">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
{% endblock %}